<app-navbar-consumer></app-navbar-consumer>

<div id = "consumer-landing-page">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign.xs="center center" fxLayoutWrap>
       

        <div class="card card-farmer" *ngFor="let land of land">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="../../assets/farm-land.png" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
          
              <!-- Title -->
              <!-- <h4 class="card-title">Uploaded lands</h4> -->
              <!-- Text -->
        
              <p>Location : {{land.location}}</p>
              <p>Size (in sq ft) : {{land.landSize}}</p>   
               <p>Rate (in INR) : {{land.landPrice}}</p> 
               <p>Farmer Email : {{land.farmerId}}</p> 
              <p>Crops grown : {{land.crops}}</p>
        
              
              
             
              <!-- Button -->
         
            </div>
          
          </div>





    </div>
</div>