<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">

        <!-- Footer Elements -->
        <div class="container">
      
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
      
            <!--Grid column-->
            <div class="col-md-6">
      
              <!-- Video -->
              <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QpkKW45cHaA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
      
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h4 class="text-uppercase font-weight-bold">Contact</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                     <h6>
                      <i class="fas fa-home mr-3"></i> Koramangala, Bangalore</h6> 
                    <h6>
                      <i class="fas fa-envelope mr-3"></i> shrabas.roy@gmail.com</h6>
                    <h6>
                      <i class="fas fa-phone mr-3"></i> + 91 7551863060</h6>
                    <h6>
                      <i class="fas fa-print mr-3"></i> + 01 234 567 89</h6>
            
                  </div>
            <!--Grid column-->

            
      
          </div>
          <!--Grid row-->
      
        </div>
        <!-- Footer Elements -->
        <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                  <a class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-dribbble"> </i>
                  </a>
                </li>
              </ul>
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          FarmRevol
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->