.footer {

    //position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #525d4d;
    height: 100px;
    
}

.copy {

    float: left;
    color: white;
    text-align: right;
}


// mat-toolbar-row.mat-toolbar-row {
//     background-color: blue;
// }