<app-navbar-consumer></app-navbar-consumer>
<div class = "profile-edit-all">
<div class = "container-margin"></div>
<div class = "profile-con">
        
        <div class="example-container">
                <mat-form-field>
                 Name: 
                    <input matInput class = "input-items"  value="Monika Shrabasti" disabled>
                </mat-form-field>
                
                <mat-form-field>
                    Phone Number
                  <input matInput class = "input-items" value = "123456789" disabled>
                </mat-form-field>
                
                <mat-form-field>
                        Email
                        <input matInput class = "input-items" value = "ex@ex.com" disabled>
                </mat-form-field>
                
               <mat-form-field>
                        Address
                        <input matInput class = "input-items" value = "1234" disabled>
                </mat-form-field>
                
                
               </div>

               <div class="example-button-row ">
                    
                    <button class = "edit-button" mat-button color="primary" (click)="enable_disable()">Edit Profile</button>
                    <button class = "edit-button submit-button" mat-button color="primary" > Submit</button>
                  </div>        
               
</div>
</div>
