<app-navbar-farmer></app-navbar-farmer>
<div id = "farmer-landing-page">

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign.xs="center center" fxLayoutWrap>
    
        <!-- <p class = "land-text">Lands where order has been placed</p> -->
       

      <ng-container *ngFor="let landDetails of farmerDetails.land">
      
      <div class="card card-farmer" *ngIf='!landDetails.available'>

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/farm-land.png" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
     
            <!-- Text -->
      
            <p>Location : {{landDetails.location}}</p>
            <p>Size (in sq ft) : {{landDetails.landSize}}</p>   
             <p>Rate (in INR) : {{landDetails.landPrice}}</p>  
            <p>Crops grown : {{landDetails.crops}}</p>
      
      
            <a class="btn btn-primary but-chng" (click)="viewOrdersOfLand(landDetails.id)">View</a>
           
           
           
            <!-- Button -->
       
          </div>
        
        </div>
        <!-- Card -->
      </ng-container>
      
      
    </div>





</div>

