.profile-con {
    
    margin: auto;
    width: 35%;
    //border: 1px dashed #eaf5d0;
    padding: 10px;
    background-color:#F6F3F9;
    height: 450px;
    margin-top: 100px;
}
//    .input-items {
//     width: 100%;
//     padding: 15px;
//     margin: 5px 0 22px 0;
//     border: none;
//     background: #f1f1f1;
//    }
.example-container {
display: flex;
flex-direction: column;
}
.input-items {
   margin-top: 10px;
}
.edit-button {
   background-color: cornflowerblue;
   color: white;
   width: 150px;
   margin-left: 30px;
   margin-top: 25px;
}
.submit-button {
   margin-left: 170px;
}