

#consumer-search-page {
   
   // background-image: url("../../assets/login-back.jpg");
    min-height: 100vh;
 /* Center and scale the image nicely */
    margin: 0;
     background-position: center;
     background-repeat: no-repeat;
   background-size: cover;
   background-attachment: scroll;
  background-image: url("../../assets/fbg.jpg");
  min-height: 100vh;
  
}

.card-search {
   
   max-width: 350px;
   margin-bottom: 2%;
   margin-left: 80px;
   margin-top: 60px;
    
}
  

   
   .container {
    /* min-height: 100%; */
    /* width: 100%; */
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
   // margin-top: 50px;
   }

   .button-chng {
      background-color: #96746c;
      color: black;
   }