<app-navbar-consumer></app-navbar-consumer>

<div id = "consumer-landing-page">

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign.xs="center center" fxLayoutWrap>
      
        <div class="card card-farmer" *ngFor="let order of orderList">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="../../assets/con-order.png" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
          
            
              <!-- Text -->
        
              <p>Farmer Email: {{order.farmerId}}</p>
              <p>Crop: {{order.crop}}</p>   
               <p>Price (in INR) : {{order.price}}</p>  
             
              
             
              <!-- Button -->
         
            </div>
          
          </div> 



    </div>



</div>
