.register-consumer-page {
    background-image: url("../../assets/login-back.jpg");
    height: 100%;
 /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
}
#register-consumer-comp {
    height: 150px;
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
     
}

mat-card {
  width: 35%;
  margin: 0 auto;
}
   

.register-consumer-text {
    font-size:20px;
    letter-spacing: 0.1ex;
    margin-left: 50%;
    font-weight: 600;
    color: #37872f;
    
}

.check {
    display: flex;
    flex-direction: column;
    
}

.register-consumer-content {
    text-align: center;
    
}

.register-links {
    color: #4a6661;
    font-family: 'Merienda', cursive;
    font-size: 19px;
    font-weight: 800;
    text-align: center;

}

.forgot {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1ex;
}

.forgot-text {
    color: #9e2313;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.forgot-text:hover {
    color: #f02f16;
    text-decoration: underline;
}

.register-text {
    color: #758059;
    text-decoration: none;
}

.register-text:hover {
    color: #4f5244;
    text-decoration: underline;
}