.register-consumer-page {
    background-image: url("../../assets/fbg.jpg");
    min-height: 100vh;
 /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
}

.login-compr {
    //  margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      
 
  
  }


.login-txt {
    text-align: center;
    font-size: 30px;
    word-wrap: break-word;
    color: #30215a;

}

  
mat-card {
//   width: 35%;
max-width: 320px;
  margin: 0 auto;
  border: 5px solid #737270;
  @media screen and (max-width : 320px ){
    max-width: 275px;
    margin-top: -60px;
}
}
   

.register-consumer-text {
    font-size:30px;
    letter-spacing: 0.1ex;
    margin-left: 8%;
    font-weight: 600;
    color: #37872f;
    
}


.register-consumer-content {
    text-align: center;
    //margin-left: 50px;
   // padding: 100px;
   
}

.form-all {
    padding-top: 20px;
    display: flex;
   flex-direction: column;
}

.register-links {
    color: #4a6661;
    font-family: 'Merienda', cursive;
    font-size: 19px;
    font-weight: 800;
    text-align: center;

}

.forgot {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1ex;
}

.forgot-text {
    color: #9e2313;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.forgot-text:hover {
    color: #f02f16;
    text-decoration: underline;
}

.register-text {
    color: #758059;
    text-decoration: none;
}

.register-text:hover {
    color: #4f5244;
    text-decoration: underline;
}
