// .profile-con {
//     margin: auto;
//     width: 35%;
//     //border: 1px dashed #eaf5d0;
//     padding: 10px;
//     background-color:#F6F3F9;
//    // height: 450px;
//     background-color:whitesmoke;
//    max-width: 400px;
//    border: 3px solid black;
//    border-radius: 4px;
//    @media screen and (max-width : 400px ){
//      max-width: 280px;
//  }
    
    
// }

.profile-con {
   margin: auto;
  // width: 35%;
   //border: 1px dashed #eaf5d0;
   padding: 10px;
   background-color:whitesmoke;
  // height: 450px;
   //padding: 10px;
  background-color:whitesmoke;
  max-width: 400px;
  border: 3px solid black;
  border-radius: 4px;
  @media screen and (max-width : 400px ){
    max-width: 250px;
}
   
}

//    .input-items {
//     width: 100%;
//     padding: 15px;
//     margin: 5px 0 22px 0;
//     border: none;
//     background: #f1f1f1;
//    }

.profile-con:hover {

   background: rgb(230, 225, 225);
   box-shadow: 10px 10px 10px whitesmoke;
}

.example-container {
display: flex;
flex-direction: column;
}

.input-items {
   margin-top: 10px;
}

.edit-button {
   background-color: cornflowerblue;
   color: white;
  // width: 150px;
   // margin-left: 30px;
   // margin-top: 25px;
   margin-right: 10px;
   margin-top: 10px;
}

// .submit-button {
//    margin-left: 170px;
// }



.profile-edit-all {
   background-image: url("../../assets/fbg.jpg");
   min-height: 100vh;
/* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
 background-size: cover;
 
}

.container-margin {
 height: 100px;
}