
<div id = "login-page">
    <div id = "login-comp">
            

            <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card >
                    <mat-card-header >
                      <mat-card-title class = "login-text">LOGIN</mat-card-title>
                    </mat-card-header>

                    <div class = "login-content">
                    <mat-card-content fxLayout="column">
                      <mat-form-field>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                      <mat-form-field>
                        <input type="password" matInput placeholder="password">
                      </mat-form-field>
                    </mat-card-content>
                    </div>
                    <mat-card-actions align="center">
                      <button mat-raised-button color="primary">Login</button>
                    </mat-card-actions>

                    <div  class = "forgot">
                        <a class="forgot-text" [routerLink] = "['/forgot-password']">Forgot Password?</a>
                   </div>
                    <p class = "register-links">New Farmer? <a class = "register-text" [routerLink] = "['/register-farmer']">Register Here</a></p>
                    <p class = "register-links">New Consumer? <a class = "register-text" [routerLink] = "['/register-consumer']">Register Here</a></p>

                    </mat-card>

                    
                    </div>

        </div>
</div>