#login-page {
    background-image: url("../../assets/fbg.jpg");
    min-height: 100vh;
 /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
}


// #login-comp {

//     width: 70%;
//     margin: auto;
//     padding-top: 200px;
 
// }

.login-txt {
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
    color: #30215a;
}


mat-card {
  //  margin-top: 50%;
//   width: 30%;
max-width: 320px;
  margin: 0 auto;
  border: 5px solid #4b4b49;


  @media screen and (max-width : 320px ){
    max-width: 275px;
    margin-top: -90px;
}
}
  
.login-compr {
  //  margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
   
//   display: flex;
//   align-items: center;
//   justify-content: center;

}

.login-text {
    font-size: 40px;
    letter-spacing: 0.1ex;
  //  margin-left: auto;
    font-weight: 600;
    color: #37872f;
  //  margin-right: auto;
  text-align: center;
    
}


.login-content {
    text-align: center;
}

.register-links {
    color: #4a6661;
    font-family: 'Merienda', cursive;
    font-size: 19px;
    font-weight: 800;
    text-align: center;

}

.forgot {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1ex;
}

.forgot-text {
    color: #9e2313;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.forgot-text:hover {
    color: #f02f16;
    text-decoration: underline;
}

.register-text {
    color: #758059;
    text-decoration: none;
}

.register-text:hover {
    color: #4f5244;
    text-decoration: underline;
}

.form-all {
    display: flex;
    flex-direction: column;
    text-align: center;

}