<div id = "login-page">

    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark brown" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><img src="./assets/logo.png" class="img-rounded" alt="farm-logo" width="65px" height="65px"><a class="navbar-brand" href="#">FarmRevol</a></mdb-navbar-brand>
      
        <!-- Collapsible content -->
        <links>
      
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect  style="padding-right: 10px">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>FAQ<span class="sr-only">(current)</span></a>
              </li>
      
          </ul>
          <!-- Links -->
      
        </links>
      
        <!-- Collapsible content -->
      
      </mdb-navbar>

    <div id = "login-comp">
            

            <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card >
                    <mat-card-header >
                      <mat-card-title class = "login-text">LOGIN</mat-card-title>
                    </mat-card-header>

                    <div class = "login-content">
                    <mat-card-content fxLayout="column">

                        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)" class = "form-all">

                      <mat-form-field>
                                <input matInput type="email" placeholder="Email" formControlName="email"
                                [errorStateMatcher]="matcher">
                         <mat-error>
                           <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter your email</span>
                         </mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        
                                <input matInput type="password" placeholder="Password" formControlName="password"
                                [errorStateMatcher]="matcher">
                         <mat-error>
                           <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your password</span>
                         </mat-error>
                  

                      </mat-form-field>

                    
                      <div class = "button-row">
                                <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
                      </div>
                            
                    </form>
                    </mat-card-content>
                    </div>
                    

                    <div class = "forgot">
                        <a class="forgot-text" [routerLink] = "['/forgot-password']">Forgot Password?</a>
                   </div>
                    <p class = "register-links">New Farmer? <a class = "register-text" [routerLink] = "['/register-farmer']">Register Here</a></p>
                    <p class = "register-links">New Consumer? <a class = "register-text" [routerLink] = "['/register-consumer']">Register Here</a></p>
                    
                    </mat-card>

                    
                    </div>

        </div>
</div>