<app-navbar-search ></app-navbar-search>

<h1 class="header-text">Rent Lands!!!</h1>

<h3 class="header-subtext">Live in the city, but want to grow a mini-farm? Welcome Here</h3>

<img src="../../assets/hero2.jpg" alt="Farm image" class="home-image">

<div class="how-block">

    <h1 class="works-text">How it works</h1>
    <div class="how-it-works">
        <div class="left">
            <div class="heading">Search</div>

            <div class="subtext">Search for your desired Crop and get the locations near by you for organic farming
            </div>
        </div>

        <div class="middle">
            <div class="heading">Book your Land</div>
            <div class="subtext">Book your land for rent and you can monitor your farm</div>
        </div>

        <div class="right">
            <div class="heading">Get your produce</div>
            <div class="subtext">Get your crop after it is produced</div>
        </div>
    </div>
</div>

<div id="images">
    <div class="li">
        <img class="body-img" src="../../assets/image1.jpg">
    </div>
    <div class="li">
        <img class="body-img" src="../../assets/image2.jpg">
    </div>
    <div class="li">
        <img class="body-img" src="../../assets/sugarcane2.jpg">
    </div>
    <div class="li">
        <img class="body-img" src="../../assets/Maize-Farming.jpg">
    </div>
    <div class="li">
        <img class="body-img" src="../../assets/potato.jpg">
    </div>



</div>





