<div class="register-farmer-page">




  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="entire-container">


      <mat-card-header>
          <mat-card-title class="register-farmer-text">FarmerRegistration</mat-card-title>
      </mat-card-header>

      <div class="register-farmer-content">
        <mat-card-content fxLayout="column">
          <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)" class="form-all">


            <mat-form-field>
              <input matInput type="fullname" placeholder="Full Name" formControlName="fullname"
                [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!registerForm.get('fullname').valid && registerForm.get('fullname').touched">Please enter
                  your Full Name</span>
              </mat-error>
            </mat-form-field>



            <mat-form-field>
              <input matInput type="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber"
                [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!registerForm.get('phoneNumber').valid && registerForm.get('phoneNumber').touched">Please
                  enter your Phone Number</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="email" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Please enter your
                  email</span>
              </mat-error>
            </mat-form-field>



            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password"
                [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter
                  your password</span>
              </mat-error>
            </mat-form-field>

            <p></p>

            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="typeOfUser">
              <mat-radio-button class="example-radio-button" value="farmer">Farmer</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="consumer">Consumer</mat-radio-button>
            </mat-radio-group>

            <p></p>


            <div class="button-row">
              <button type="submit" [disabled]="!registerForm.valid" mat-flat-button color="primary">Register</button>
            </div>
          </form>

        </mat-card-content>
      </div>

    </mat-card>

  </div>



</div>