<app-navbar-farmer></app-navbar-farmer>
<div id = "farmer-landing-page">

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign.xs="center center" fxLayoutWrap>
     
     
        <!-- <p class = "order-text">Your orders</p> -->
    
      
        <mdb-card  *ngFor="let order of landOrderDetails">
          <mdb-card-body >
            <mdb-card-title>
              <h4>Consumer Details</h4>
            </mdb-card-title>
            <mdb-card-text>
              
                Consumer email : {{order.consumerId}} <br>
                Crop Name: {{order.crop}} <br>
                Price: Rs {{order.price}} <br>
            
            </mdb-card-text>
            
          </mdb-card-body>
        </mdb-card>
    </div>




</div>
