
  #farmer-landing-page {
    background-image: url("../../assets/login-back.jpg");
    min-height: 100vh;
 /* Center and scale the image nicely */
    margin: 0;
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


.card {
  width: 23%;
  margin-bottom: 2%;
  margin-left: 80px;
  margin-top: 60px;
  /* margin-bottom: 18%; */
 /* position: relative; */
 }
 .container {
  /* min-height: 100%; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
 // margin-top: 50px;
 }

 .order-text {
     padding-bottom: 200px;
     font-size: 30px;
     text-align: center
 }

 .order {
     text-align: center;
 }

 .buttons {
   text-align: center;
  // background-color: red;
 }

 .buttons-text {
   background-color: #438f65;
 }


 .order-text {
  // justify-content: center;
  margin-left: auto;
  margin-right: auto;
  //width: 8em;
  font-size: 70px;
  color: #3E5975;
  font-weight: 800;
  font-family: 'Marck Script', cursive;
  letter-spacing: 0.2rem;
 }